body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding-top: 40px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header {
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 40px; */
    background-color: black;
    box-shadow: 2px 2px 10px black;
}
header div {
    display: inline-block;
}
.headitem {
    display: inline-block;
}
header #genre {
    float: left;
}
header #genre .genre {
    font-weight: bold;
    /* background-color: blue; */
    padding: 3px 7px;
    border-radius: 5px;
    cursor: pointer;
}
header #genre .selected {
    border-bottom: solid 2px blue;
}
@media screen and (max-width: 900px) {
    header #genre .genre:last-child {
        display: none;
    }
}
header #search-box {
    /* position: absolute; */
    float: right;
    width: 250px;
}


#search {
    background-color: black;
    color: white;
    border: solid 2px blue;
    border-radius: 5px;
    padding: 2px 5px;
}
#search-button:hover {
    cursor: pointer;
}

.movie {
    width: 150px;
    display: inline-block;
    text-align: center;
    background: no-repeat fixed center;
    background-size: 100%;
    background-clip: content-box;
    padding: 5px;
    margin: 10px;
    color: white;
    overflow: auto;
}
.movie:hover {
    cursor: pointer;
}
.movie span {
    font-size: 16px;
    display: block;
    font-weight: bold;
    text-align: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 5px;
}
.movie .img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    border: solid 2px black;

    background: black center center no-repeat;
    background-size: cover;
    background-size: 100 100%;
}
.hover-items {
    display: none;
    padding: 5px;
    height: 100%;
}
.hover-items span {
    font-size: 14px;
    white-space: normal;
}
.movie .img:hover {
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 1);

    border: solid 2px blue;
    border-radius: 5px;
}
.movie .img:hover .hover-items {
    display: block;
}
.movies {
    display: block;
    text-align: left;
    margin: 0 auto;
}
#movie {
    text-align: center;
}


#movieData {
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    /* background-color: black; */
    padding: 50px;
    
    background: black center center no-repeat fixed;
    background-size: cover;
    background-size: 100 100%;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 1);
}
#movie-cover {
    float: left;
    width: 350px;
    margin-right: 20px;
}
@media screen and (max-width: 900px) {
    #movie-cover {
        width: 250px;
    }
}
#movie-description {
    width: 60%;
    max-width: 500px;
    margin-left: 50px;
    max-height: 200px;
    overflow: auto;
}
#close-movie {
    position: fixed;
    font-size: 30px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#start-movie {
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 15px;
    cursor: pointer;
}



#movieBox {
    z-index: 20;
    position: fixed;
    display: none;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    /* overflow-y: auto; */
    overflow-x: hidden;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

#movie video {
    display: block;
    width: 90%;
    margin: 0 auto;
}


#sidebar {
    padding: 5px;
    float: left;
    width: 70px;
    /* background-color: gray; */
}

#close-player {
    font-weight: bold;
    font-size: 30px;
}
#close-player:hover {
    cursor: pointer;
}